@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Mitr:wght@200;300;400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
}

body.light-mode {
  color: var(--black);
  transition: 0s;
  background-color: var(--bg-light);
}
dt, dd, span {
  color: var(--black);
}
body.dark-mode {
  color: var(--white);
  transition: 0s;
  background-color: var(--bg-dark);
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-rds);
  background: var(--bg-black);
}

h1,
h1 span {
  font-family: 'Mitr', sans-serif;
  font-weight: 700;
  font-size: 3.125rem;
}

button a {
  font-size: 14px;
}

h2 {
  font-size: 2.188rem;
}

h3 {
  font-size: 1.863rem;
}

h4,
a,
span {
  font-size: 1.25rem;
}

h2,
h3,
h4,
h5,
a {
  color: var(--text-color-lg);
  font-family: 'Noto Sans', sans-serif;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 'normal';
  line-height: 1.5em;
}

body.light-mode p, body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode button a, body.light-mode h5, body.light-mode h6, body.light-mode span {
  color: var(--text-color-lg)
}


@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 1.588rem;
    margin: 40px 0;
    font-weight: 700;
  }

  html {
    scroll-padding-top: 3em;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
  }

  h4 {
    font-size: 1.15em;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2em;
  }

  button a {
    font-size: 0.8rem;
  }
}