:root {
    --primary-color-lg: var(--black);
    --primary-color-dk: var(--white);
    --text-color-lg: #363636;
    --text-color-dk: #f2f2f2;
    --bg-dark: #222;
    --gray: #666;
    --border-rds: 1em;
    --white: #ffffff;
    --black: #363636;
    --bg-black: #363636;
    --bg-light: #ffffff;
}  