:root {
    --primary-color-lg: #6F36F7;
    --primary-color-dk: var(--white);
    --text-color-lg: #363636;
    --text-color-dk: #f2f2f2;
    --bg-dark: #222;
    --gray: #dfdfdf;
    --border-rds: .5em;
    --white: #ffffff;
    --black: #363636;
    --bg-black: #363636;
    --bg-light: #ffffff;
}   